<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280933866764-egg7ft51e13h98dpisulipiv4qggkr6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280933866764-egg7ft51e13h98dpisulipiv4qggkr6r</string>
	<key>API_KEY</key>
	<string>AIzaSyBHO5oV3xk4T4HU8AyKXCz-ETyIAKzOXec</string>
	<key>GCM_SENDER_ID</key>
	<string>280933866764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreCrud</string>
	<key>PROJECT_ID</key>
	<string>firestorecrud-82192</string>
	<key>STORAGE_BUCKET</key>
	<string>firestorecrud-82192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280933866764:ios:d97c491c8a85c980e8bd29</string>
</dict>
</plist>